/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: display: grid;
    grid-template-columns: 1fr repeat(12, minmax (auto, 60px)) 1fr;
    grid-gap: 10px;
    padding: 30px 0;
;
}
html { 
    scroll-behavior: smooth; 
  }
body {
	line-height: 1;
}
* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    justify-content: center;
  }
  
  .flex-item-left {
    background-color: #f1f1f1;
    padding: 100px;
    flex: 50%;
  }
  
  .flex-item-right {
    background-color: dodgerblue;
    padding: 100px;
    flex: 50%;
  }
  
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HTML5 display-role reset for older browsers */

* {
    box-sizing: border-box;
}

button {
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.clear-fix {
    clear: both;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    color: #000000;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}

nav {
    vertical-align: top;
    width: 100%;
    overflow: auto;
    margin-top: 40px;
}

nav p {
    width: 50%;
    display: inline-block;
    float: left;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

nav ul {
    width: 50%;
    margin-left: auto;
    float: right;
    text-align: right;
}

nav ul li {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 7%;
}

nav ul li a {
    color: #FFFFFF;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00A6FB;
    transition: 0.3s;
}

header {
    color: #fff;
    background-color: #000000;
}

header .container {
    max-width: 1200px;
    padding: 0 24px;
    margin: 0 auto;
    overflow: auto;
}

button {
    padding: 20px 24px;
    background: #0582CA;
    border-radius: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.3s;
}

button:hover {
    background: #00A6FB;
    color: #FFFFFF;
}

header button {
    margin-right: 16px;
}

.hero-text {
    margin: 128px 0;
}

.hero-text p {   
    max-width: 900px;
    margin-top: 16px;
    margin-bottom: 32px;
}

footer {
    color: #fff;
    background-color: #051923;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow: auto;
    padding: 32px 24px;
}

footer p {
    width: 50%;
    vertical-align: top;
    display: inline-block;
    float: right;
    text-align: right;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

footer ul {
    width: 50%;
    margin-right: auto;
    float: left;
    text-align: left;
}

footer ul li {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: 7%;
}

footer ul li a {
    color: #FFFFFF;
    transition: 0.3s;
}

footer ul li a:hover {
    color: #00A6FB;
}

.about {
    margin: 96px 24px;
    position: relative;
}

.about .container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about img {
    float: left;
    width: 25%;
}

.about .about-text {
    float: right;
    width: 70%;
    margin-left: 5%;
}

.about-text h2 {
    margin-bottom: 16px;
}

.about-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}

.skills {
    display flex;
    background-color: #F7F7F7;
    padding: 96px 24px;
}

.skills .container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.skills h2 {
    text-align: center;
    margin-bottom: 64px;
}

.skills-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills-item {
    margin: 0 8px;
    width: 16%;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
}


.portfolio {
    background-color: #FFF;
    padding: 96px 24px;
}

.portfolio .container {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}

.portfolio h2 {
    text-align: center;
    margin-bottom: 64px;
}

.portfolio-list {
    display: grid;
    grid-gap: 100px;
    justify-content: center;
    grid-template-columns: center;
}

.portfolio-item {
    margin: 0 8px;
    width: 100%;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
    align-self: center;
  justify-self: center;
 
}

.portfolio-item img {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.portfolio-item p {
    margin: 4px 0 8px 0;
}

.portfolio-item a {
    color: #0582CA;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    transition: 0.3s;
}

.portfolio-item a:hover {
    color: #00A6FB;
}

.contact {
    background-color: #000000;
    padding: 96px 24px;
}

.contact .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.contact h2 {
    color: #fff;
}
.grid-container {
    display: grid;
    gap: 50px;
  }
.contact p {
    color: #fff;
    max-width: 750px;
    margin: 16px auto 32px auto;
}

.contact button {

}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
      .portfolio .container {
        display: grid;
        max-width: 1200px;
        margin: 0 auto;
        justify-content: center;
        align-content: center;
    }
    .flex-container {
        display: flex;
        width:100%;
        flex-direction:column-reverse;
        flex-wrap: wrap;
        font-size: 30px;
        text-align: center;
        justify-content: center;
      }
      
      .flex-item-left {
        background-color: #f1f1f1;
        padding: 100px;
        flex: 100%;
        flex-direction:column-reverse;
      }
      
      .flex-item-right {
        background-color: dodgerblue;
        padding: 100px;
        flex: 100%;
        flex-direction:column-reverse;
      }
    .skills {
        display: flex;
        flex-direction: column;
        background-color: #F7F7F7;
        padding: 96px 24px;
        width:100%;
        flex-direction:column;
    }
    .skills-item {
        margin: 0 8px;
        padding: 20px;
        width: auto;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        color: #000000;
        flex-direction:column-reverse;
    
    }
    .skills-list {
        display: flex;
        width:100%;
        justify-content: center;
        flex-direction:column-reverse;
    }
    
    .portfolio-item {
        width:100%;
        margin: 0 8px;
        text-align: left;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        color: #000000;
        align-self: center;
      justify-self: center;
     
    }
    .test {
    margin-bottom:100px;
    }
   .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    width:100%;
    margin: 0 8px;
    align-self: center;
    justify-self: center;
    justify-content:center;
    }
    .about-text h2 {
        margin-bottom: 30px;
        margin-top: 30px;
        text-align: center;

    }
    .about .container .responsive {
        width:75%;
        height:auto;
    }
    footer .container {
        text-align:center;
        max-width: 768px;
        margin: auto;
        width: 50%;
        height: auto;

    }
    footer ul {
        width: auto;
        margin-right: auto;
        float: left;
        text-align: left;
    }
    
    footer ul li {
        display: inline-block;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-right: 30%;
    }
    footer p {
        width: 20%;
        vertical-align: center;

        float: center;
        text-align: center;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}